.demo-editor-plain {
  height: 80% !important;
  border-width: 0px !important;
}
.demo-editor-embedded {
  height: 90% !important;
  border-width: 0px !important;
}
.demo-wrapper-relative {
  display: block !important;
  position: relative !important;
  margin-bottom: 25px !important;
  height: 200px !important;
}
.demo-wrapper-relative-long {
  width: 715px !important;
  display: block !important;
  position: relative !important;
  margin-bottom: 25px !important;
  height: 450px !important;
}
.demo-editor {
    height: 650px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 10px !important;
    border-radius: 2px !important;
}
.rdw-image-center {
   display: flex;
   justify-content: left;
}
.rdw-image-alignment-options-popup {
  display: none;
}
figure {
    margin: 1em 10px;
}
